<%- include("templates/header.ejs", {session:session}) -%>

<h1><%=blog.title%></h1>
<h3>Author: <%=blog.author_username%></h3>

<div class = "row tag-display">
    <h6 class = "col-sm-auto">Tags: </h6>
    <%for(let i = 0; i < tags.length; i++){%>
        <h6 class = "col-sm-auto"><%=tags[i].tagname%></h6>
    <%}%>
</div>

<form method = "PUT" action = "<%='/editPost/'+blog.blogId%>">
    <div class="form-group">
        <label for="body">Blog</label>
        <textarea class="form-control" name = "body" id="body" rows="3" ><%=blog.body%></textarea>
    </div>
    <button class = "btn btn-primary">Submit</button>
</form>

<%- include("templates/footer.ejs") -%>